body {
  font-family: Lato, sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: #e8e8e8;
}

body p {
  line-height: 1.45;
}

.content-container {
  display: flex;
  flex-direction: column;
  color: #505050;
  min-height: calc(100vh - 2em);
  max-width: 40em;
  margin: 1em auto;
}

/* Dark theme */
.dark-mode {
  background-color: #383838;
}

.dark-mode .content-container {
  color: whitesmoke;
}
